.snax-items {
  clear: both;
  margin: 1.5em 0;
  list-style: none; }
  .snax-items article {
    clear: both; }
  .snax-items article + article {
    margin-top: 3em; }

.snax-item-media {
  margin-bottom: 10px; }

.snax-item-media .wp-post-image {
  display: block;
  width: 100%;
  margin: 0 auto; }

.snax-item-media-desc {
  margin-top: 0.75em;
  margin-bottom: 0.75em; }

.snax-item-nav {
  margin: 1.5em 0; }

.snax-item-actions {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: #e6e6e6;
  margin-bottom: 15px; }
  .snax-item-actions .snax-voting {
    margin-right: auto; }

.snax-voting {
  display: inline-block;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: middle;
  text-align: center; }
  .snax-voting button {
    border: 0px;
    display: inline-block;
    font-size: 0;
    line-height: 1;
    vertical-align: middle; }
  .snax-voting .snax-voting-upvote {
    -ms-flex-order: 2;
    order: 2;
    margin-right: 5px; }
    .snax-voting .snax-voting-upvote:before {
      display: block;
      font: 34px/1 "snaxicon";
      content: "\e006"; }
  .snax-voting .snax-voting-downvote {
    -ms-flex-order: 4;
    order: 4;
    margin-left: 5px; }
    .snax-voting .snax-voting-downvote:before {
      display: block;
      font: 34px/1 "snaxicon";
      content: "\e007"; }
  .snax-voting .upvote .snax-voting-upvote:before {
    color: #ff0036; }
  .snax-voting .downvote .snax-voting-downvote:before {
    color: #ff0036; }
  .snax-voting .snax-voting-upvote:not(:hover):not(.snax-user-voted),
  .snax-voting .snax-voting-downvote:not(:hover):not(.snax-user-voted) {
    color: inherit;
    opacity: 0.333; }
  .snax-voting .snax-voting-score {
    display: inline-block;
    -ms-flex-order: 6;
    order: 6;
    margin: 0 10px;
    line-height: 1.125;
    display: inline-block;
    vertical-align: middle; }

.snax-item-comments .comment-list {
  margin-left: 0; }

.snax-item-comments .comment {
  list-style-type: none; }

.snax-item-comments .comment .reply,
.snax-item-comments .comment .says,
.snax-item-comments .edit-link {
  display: none; }

.snax-item-comments .comment-author, .snax-item-comments .comment-metadata {
  display: inline; }

.snax-item-comments .comment-meta {
  margin-bottom: 15px; }

.snax-item-comments .comment-metadata a {
  color: inherit; }

.snax-item-comments .comment-author .fn {
  padding-right: 1.5em; }

.snax-item-comments .comment-author .avatar {
  margin-right: 10px;
  vertical-align: middle; }

.snax-item-comments .comment-content {
  padding-left: 30px; }

.snax-item-author {
  margin-right: 1.5em; }
  .snax-item-author .avatar {
    text-decoration: none;
    border: none;
    box-shadow: none;
    display: inline-block;
    float: left;
    margin-right: 10px; }
