@font-face {
    font-family: "snaxicon";
    src:url("./snaxicon/fonts/snaxicon.eot");
    src:url("./snaxicon/fonts/snaxicon.eot?#iefix") format("embedded-opentype"),
    url("./snaxicon/fonts/snaxicon.woff") format("woff"),
    url("./snaxicon/fonts/snaxicon.ttf") format("truetype"),
    url("./snaxicon/fonts/snaxicon.svg#snaxicon") format("svg");
    font-weight: normal;
    font-style: normal;
}